body {
  font-size: 17px;
  color: #212121; }

a, a:link, a:visited {
  color: #cd2026;
  font-weight: 500;
  text-decoration: underline; }
  a:hover, a:link:hover, a:visited:hover {
    text-decoration: none; }

/*#s4-workspace {
    font-family: $font-family-sans-serif!important;
    h1, .h1, .ms-rtestate-field h1, .ms-core-pageTitle, #pageTitle, #pageTitle a, .ms-dlgTitleText, 
    h2, .h2, .ms-rtestate-field h2, h2.ms-webpart-titleText, h2.ms-webpart-titleText > a, 
    h3, .h3, .ms-rtestate-field h3,
    h4, .h4, .ms-rtestate-field h4, h4.ms-webpart-titleText, h4.ms-webpart-titleText > a, 
    h5, .h5, .ms-rtestate-field h5, h5.ms-webpart-titleText, h5.ms-webpart-titleText > a, li.static>.ms-core-listMenu-item, ul.flyout .ms-core-listMenu-item, ul.flyout ul.dynamic .ms-core-listMenu-item, .ms-core-listMenu-verticalBox>a, .ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item, #custom-lowerLeftNavZone .ms-ref-refinername, #sideNavBox a.ms-navedit-editLinksText .ms-metadata,
    h6, .h6, .ms-rtestate-field h6,
    .metadata 
    {
        font-family: $headings-font-family;
        @include transition(all 0.25s ease-in-out);
        line-height: 1.2em;
    }
    a, a:link, a:visited {
        color: $secondary;
        
    }
}
h1, .h1, .ms-rtestate-field h1, .ms-core-pageTitle, #pageTitle, #pageTitle a, .ms-dlgTitleText {
    color: $primary!important;
    font-weight: $font-weight-normal;
    line-height: 2.5rem;
    @include media-breakpoint-up(xs) {font-size: $h1-font-base - 0.6;}
    @include media-breakpoint-up(sm) {font-size: $h1-font-base - 0.4;}
    @include media-breakpoint-up(md) {font-size: $h1-font-base - 0.25;}
    @include media-breakpoint-up(lg) {font-size: $h1-font-base;}
}
h2, .h2, .ms-rtestate-field h2, h2.ms-webpart-titleText, h2.ms-webpart-titleText > a {
    color: $accent1!important;
    font-weight: $font-weight-normal;
    line-height: 2.125rem;
    @include media-breakpoint-up(xs) {font-size: $h2-font-base - 0.3;}
    @include media-breakpoint-up(sm) {font-size: $h2-font-base - 0.2;}
    @include media-breakpoint-up(md) {font-size: $h2-font-base - 0.1;}
    @include media-breakpoint-up(lg) {font-size: $h2-font-base;}
}
h3, .h3, .ms-rtestate-field h3 {
    color: $black!important;
    font-weight: $font-weight-semibold;
    line-height: 1.75rem;
    text-transform: uppercase;
    @include media-breakpoint-up(xs) {font-size: $h3-font-base - 0.2;}
    @include media-breakpoint-up(sm) {font-size: $h3-font-base - 0.2;}
    @include media-breakpoint-up(md) {font-size: $h3-font-base - 0.1;}
    @include media-breakpoint-up(lg) {font-size: $h3-font-base;}
}
h4, .h4, .ms-rtestate-field h4, h4.ms-webpart-titleText, h4.ms-webpart-titleText > a {
    background-color: $primary;
    color: $white!important;
    font-weight: $font-weight-semibold;
    line-height: 1.3rem;
    padding: $spacer-base;
    @include media-breakpoint-up(xs) {font-size: $h4-font-base - 0.3;}
    @include media-breakpoint-up(sm) {font-size: $h4-font-base - 0.2;}
    @include media-breakpoint-up(md) {font-size: $h4-font-base - 0.1;}
    @include media-breakpoint-up(lg) {font-size: $h4-font-base;}
}
h4.ms-webpart-titleText > a {
    background-color: transparent!important;
    padding: 0;
}
h5, .h5, .ms-rtestate-field h5, h5.ms-webpart-titleText, h5.ms-webpart-titleText > a, li.static>.ms-core-listMenu-item, ul.flyout .ms-core-listMenu-item, ul.flyout ul.dynamic .ms-core-listMenu-item, .ms-core-listMenu-verticalBox>a, .ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item, #custom-lowerLeftNavZone .ms-ref-refinername, #sideNavBox a.ms-navedit-editLinksText .ms-metadata, .subscription-header-row h3 {
    background-color: $primary;
    color: $white!important;
    font-weight: $font-weight-bold;
    padding: $spacer-base;
    text-transform: uppercase;
    @include media-breakpoint-up(xs) {font-size: $h5-font-base + 0.2;}
    @include media-breakpoint-up(sm) {font-size: $h5-font-base;}
    @include media-breakpoint-up(md) {font-size: $h5-font-base;}
    @include media-breakpoint-up(lg) {font-size: $h5-font-base;}
}
h6, .h6, .ms-rtestate-field h6, #custom-parentpage {
    background-color: $secondary;
    color: $white!important;
    font-weight: $font-weight-bold;
    padding: $spacer-base;
    text-transform: uppercase;
    @include media-breakpoint-up(xs) {font-size: $h6-font-base - 0.1;}
    @include media-breakpoint-up(sm) {font-size: $h6-font-base - 0.1;}
    @include media-breakpoint-up(md) {font-size: $h6-font-base - 0;}
    @include media-breakpoint-up(lg) {font-size: $h6-font-base;}
}*/
